.tripinfo {
	margin: 0px;
	padding-top: 0px;
	font-size: 18px;
}
.adventure_tripinfo {
	margin: 0px;
	padding-top: 0px;
	font-size: 18px;
}
.tripdate {
	margin: 0px;
	padding-top: 3px;
	font-size: 12px;
}
.activetrip:hover, .profileactivetrip:hover {
	background-color: #7e1616;
}
.profileactivetrip {
	width: 95%;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #004e74;
	border-radius: 3px;
	height: 50px;
	margin-bottom: 10px;
	border-style: none;
}
.profileactivetrip:focus,.profileactivetrip:active {
	outline: none !important;
	box-shadow: none;
}
.activetrip {
	width: 95%;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #004e74;
	border-radius: 3px;
	height: 50px;
	margin-bottom: 10px;
	border-style: none;
}
.activetrip:focus,.activetrip:active {
	outline: none !important;
	box-shadow: none;
}
