.tripsearch {
	margin-top: 25px;
}
.searchbtn {
	padding: 11px !important;
	border-radius: 3px !important;
}
.searchbar {
	padding: 20px !important;
}
.currenttrips {
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.51);
	background-color: #0E1C36;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffffe0;
	opacity: 1;
	padding: 20px;
	max-width: 750px;
}
div.buddiesrow {
	text-align: left;
	overflow: auto;
	margin-bottom: 20px;
	white-space: nowrap;
}
div.buddiesrow img {
	display: inline-block;
}
.rowperson {
	border: 3px solid;
	border-color: #3c3e42;
    	width: 20%;
    	height: 20%;
    	opacity: 1.0;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
.tripmodaltext, .modalfootertext {
	color: #ffffffe0;
}
.modalfootertext {
	margin: 0px;
	width: 150px;
}
.inforow {
	display: flex;
}
.tripcolumn {
	flex: 50%;
}
.person {
    	border: 3px solid;
	border-color: #3c3e42;
	width: 60%;
    	opacity: 1.0;
}
