.note-header {
	padding: 0px;
}
.notification-dialog {
	width: 22%;
}
.accept_reject_buttons {
	width: 222px;
}
.note-person {
	width: 60%;
	margin: auto;
}
.note-close {
	margin-right: 15px;
	margin-top: 5px;
}
.note:focus,.note:active {
	outline: none !important;
	box-shadow: none;
}
.sentnotes {
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.51);
	background-color: #0E1C36;
  	border-radius: 5px;
  	margin-top: 40px;
  	margin-bottom: 20px;
  	color: #ffffffe0;
  	opacity: 1;
  	padding: 20px;
  	max-width: 750px;
}
.receivednotes {
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.51);
  	background-color: #0E1C36;
  	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffffe0;
	opacity: 1;
	padding: 20px;
	max-width: 750px;
}
.note {
  	width: 455px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #004e74;
	border-radius: 3px;
	height: 50px;
	margin-bottom: 10px;
	border-style: none;
}	
.note:hover {
	background-color: #7e1616;
}
.sender {
	margin: 0px;
	padding-top: 0px;
	font-size: 18px;
}	
.recipient {
	margin: 0px;
	padding-top: 0px;
	font-size: 18px;
}
.dest_note {
	margin: 0px;
	padding-top: 3px;
	font-size: 12px;
}
.notemodaltext {
	color: #ffffffe0;
}
