{% extends "base.html" %}

{% block content %}
<FORM class="tripsearch">
	<DIV class="searchtrips">
	<INPUT type="text" class="searchbar" placeholder="Type in search term...">
	<BUTTON type="button" class="searchbtn btn btn-danger">SEARCH</BUTTON>
	</DIV>
</FORM>
<DIV id="currenttrips" class="container text-center currenttrips">
	<H3>Current Active Trips</H3>
	{% if all_trips %}
		{% for trip in all_trips.values() %}	
		<BUTTON id="internal_text" id="activetrip" class="activetrip" data-id="{{ trip.id }}" data-toggle="modal" data-target="#tripInfo">
			<P class="adventure_tripinfo"><STRONG>{{ trip.city }}, {{ trip.country }}</STRONG></P>
			<P class="tripdate">{{ trip.date_range }}</P>
			</BUTTON>
		{% endfor %}
	{% else %}
		<H4>There are no active trips yet!</H4>
	{% endif %}
</DIV>
<!-- Modal -->
<DIV class="modal fade" id="tripInfo" tabindex="-1" role="dialog" aria-labelledby="Host Adventure" aria-hidden="true">
  <DIV class="modal-dialog" role="document">
    <DIV class="modal-content">
      <DIV class="modal-header trip-header">
	      <!-- Placeholder for AJAX dynamic content -->
      </DIV>
      <DIV class="modal-body trip-body">
	      <!-- Placeholder for AJAX dynamic content -->
      </DIV>
      <DIV class="modal-footer trip-footer">
		<DIV class="buddies">
		  <P class="others modalfootertext">Other users on this trip:</P>
			<DIV class="buddiesrow">
				<IMG src="{{ current_user.profile_pic }}" class="img-circle rowperson" alt="Derek">
				<IMG src="{{ current_user.profile_pic }}" class="img-circle rowperson" alt="Derek">
				<IMG src="{{ current_user.profile_pic }}" class="img-circle rowperson" alt="Derek">
				<IMG src="{{ current_user.profile_pic }}" class="img-circle rowperson" alt="Derek">
				<IMG src="{{ current_user.profile_pic }}" class="img-circle rowperson" alt="Derek">
			</DIV>
		</DIV>
        <BUTTON type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</BUTTON>
        <BUTTON type="button" class="btn btn-danger">JOIN TRIP</BUTTON>
      </DIV>
    </DIV>
  </DIV>
</DIV>
{% endblock %}
