<!DOCTYPE html>
<HTML lang="en">
<HEAD>
  <TITLE>AdventureUs</TITLE>
  <META charset="utf-8">
  <LINK rel="icon" href="../static/icons/logo2.png">
  <META name="viewport" content="width=device-width, initial-scale=1">
  <LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
  <SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></SCRIPT>
  <SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></SCRIPT>
  <LINK href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
  <LINK rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
  <SCRIPT type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></SCRIPT>

  <!--Importing Project Style Sheets and Scripts-->
  <LINK rel="stylesheet" type="text/css" href="../static/styles/activetrip_panel.css"/>
  <LINK rel="stylesheet" type="text/css" href="../static/styles/adventures.css">
  <LINK rel="stylesheet" type="text/css" href="../static/styles/modal.css">
  <LINK rel="stylesheet" type="text/css" href="../static/styles/navbar.css">
  <LINK rel="stylesheet" type="text/css" href="../static/styles/profile.css"> 
  <LINK rel="stylesheet" type="text/css" href="../static/styles/notifications.css">
  <SCRIPT type="text/javascript" src="../static/scripts/adventure_dynamic.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="../static/scripts/join_trip.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="../static/scripts/notifications.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="../static/scripts/object_deletion.js"></SCRIPT>
<BODY>
<HEADER>
<NAV class="navbar navbar-default navbar-fixed-top">
  <DIV class="container">
    <DIV class="navbar-header">
      <BUTTON type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <SPAN class="icon-bar"></SPAN>
        <SPAN class="icon-bar"></SPAN>
        <SPAN class="icon-bar"></SPAN> 
      </BUTTON>
      <IMG src="../static/icons/logo2.png" class="navbar-brand logo" href="#">
    </DIV>
    <DIV class="collapse navbar-collapse" id="myNavbar">
      <UL class="nav navbar-nav navbar-left">
        <LI>HOME</LI>
	<LI><A href="{{ url_for('display_profile') }}">PROFILE</A></LI>
	<LI><A href="{{ url_for('display_notifications') }}">NOTIFICATIONS</A></LI>
	<LI><A href="{{ url_for('display_adventures') }}">ADVENTURES</A></LI>
	<LI><A href="{{ url_for('display_adventures') }}">FRIENDS</A></LI>
      </UL>
      <UL class="nav navbar-nav navbar-right">
	<LI><BUTTON type="button" id="host" class="btn btn-danger" data-toggle="modal" data-target="#createTrip">HOST ADVENTURE</BUTTON></LI>
	<LI><BUTTON type="button" id="logout" class="btn btn-danger"><A href="{{ url_for('logout') }}" class="logout">LOGOUT</A></BUTTON></LI>
      </UL>
    </DIV>
  </DIV>
</NAV>
</HEADER>
<!-- Modal -->
<DIV class="modal fade" id="createTrip" tabindex="-1" role="dialog" aria-labelledby="Host Adventure" aria-hidden="true">
  <DIV class="modal-dialog" role="document">
    <DIV class="modal-content">
      <DIV class="modal-header">
        <H2 class="modal-title" id="where">Where are you going?</H2>
        <BUTTON type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</BUTTON>
      </DIV>
      <DIV class="modal-body">
	      <FORM class="trip" action="{{ url_for('create_trip') }}" method="post" novalidate>
			{{ tripform.hidden_tag() }}
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="fname">City</LABEL>
				</DIV>
				<DIV class="col-75">
					{{ tripform.city(id="city", placeholder="What city are you going to?") }}
					{% for error in tripform.city.errors %}
					<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
					{% endfor %}
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="country">Country</LABEL>
				</DIV>
				<DIV class="col-75">
					{{ tripform.country(id="country") }}
					{% for error in tripform.country.errors %}
					<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
					{% endfor %}
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="dates">Dates</LABEL>
				</DIV>
				<DIV class="col-75">
					{{ tripform.dates(id="dates", placeholder="Between what dates are you going?") }}
					{% for error in tripform.dates.errors %}
					<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
					{% endfor %}
					<SCRIPT>
						$('input[name="dates"]').daterangepicker();
					</SCRIPT>
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="description">Trip Description</LABEL>
				</DIV>
				<DIV class="col-75">
					{{ tripform.description(id="description", placeholder="What are you doing?", style="height:200px;") }}
					{% for error in tripform.description.errors %}
					<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
					{% endfor %}
				</DIV>
			</DIV>
			<HR>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<UL>
					{% for message in messages %}
					<LI style="color: white;">{{ message }}</LI>
					{% endfor %}
				</UL>
				{% endif %}
			{% endwith %}
      </DIV>
      <DIV class="modal-footer">
        <BUTTON type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</BUTTON>
	{{ tripform.create(class="btn btn-danger create") }}
      </DIV>
      </FORM>
    </DIV>
  </DIV>
</DIV>
<!--<SCRIPT>
	$('.create').on('click', function () {
	  $.ajax({
url: '{{ url_for('create_trip') }}',
data: $('.trip').serialize(),
type: 'POST',
success: function(html) {
	console.log(html)
	},
error: function(error) {
	console.log(error)
}
	});
	  });
</SCRIPT>-->
{% block content %}{% endblock %}
</BODY>
</HTML>
