<!DOCTYPE html>
<HTML lang="en">
<HEAD>
  	<TITLE>AdventureUs</TITLE>
  	<META charset="utf-8">
  	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="icon" href="../static/icons/logo2.png">
  	<LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<LINK href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
  	<LINK href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
  	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
  	<SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></SCRIPT>
  	<SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></SCRIPT>
	<SCRIPT src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></SCRIPT>  
  	<SCRIPT type="text/javascript" src="../static/scripts/background.js"></SCRIPT>
	<LINK rel="stylesheet" type="text/css" href="../static/styles/login.css"/>
</HEAD>
<BODY>
	<DIV class="jumbotron text-center">
	       	<IMG src="../static/icons/logo2.png" class="logo">	
		<H2 class="welcome">Welcome to</H2>
		<H1 class="adventureus">AdventureUs!</H1>
		<P>Are you ready for your next adventure?</P>
		<H3>Find travel buddies today!</H3>
		<FORM class="form-inline" action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<DIV class="input">
        			{{ form.username(class="form-control login", size=50, placeholder="Username") }}
				{% for error in form.username.errors %}
				<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
				{% endfor %}
      			</DIV>
      			<DIV class="input">
		  		{{ form.password(class="form-control login", size=50, placeholder="Password") }}
				{% for error in form.password.errors %}
				<SPAN class="error" style="color: red;">[{{ error }}]</SPAN>
				{% endfor %}
      			</DIV>
			<HR>
      			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<UL>
					{% for message in messages %}
					<LI>{{ message }}</LI>
					{% endfor %}
				</UL>
				{% endif %}
			{% endwith %}
			<DIV class="login_buttons">
				{{ form.submit(class="btn btn-danger signup") }}
			</DIV>
    		</FORM>
  	</DIV>
</BODY>
</HTML>
