<!DOCTYPE html>
<HTML lang="en">
<HEAD>
  <TITLE>AdventureUs</TITLE>
  <META charset="utf-8">
  <META name="viewport" content="width=device-width, initial-scale=1">
  <LINK rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></SCRIPT>
  <SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></SCRIPT>
  <SCRIPT src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></SCRIPT>
  <!--<SCRIPT src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></SCRIPT>i-->
  <LINK href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
  <LINK href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
  <LINK rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <SCRIPT type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></SCRIPT>

  <!--Importing Project Style Sheets-->
  <LINK rel="stylesheet" type="text/css" href="../static/styles/activetrip_panel.css"/>
  <LINK rel="stylesheet" type="text/css" href="../static/styles/adventures.css"/>
  <LINK rel="stylesheet" type="text/css" href="../static/styles/modal.css"/>
  <LINK rel="stylesheet" type="text/css" href="../static/styles/navbar.css"/>
  <LINK rel="stylesheet" type="text/css" href="../static/styles/profile.css"/>
</HEAD>
<BODY>
<HEADER>
<NAV class="navbar navbar-default navbar-fixed-top">
  <DIV class="container">
    <DIV class="navbar-header">
      <BUTTON type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <SPAN class="icon-bar"></SPAN>
        <SPAN class="icon-bar"></SPAN>
        <SPAN class="icon-bar"></SPAN> 
      </BUTTON>
      <IMG src="../static/icons/logo.png" class="navbar-brand logo" href="#">
    </DIV>
    <DIV class="collapse navbar-collapse" id="myNavbar">
      <UL class="nav navbar-nav navbar-right">
        <LI>HOME</LI>
        <LI>PROFILE</LI>
        <LI>ADVENTURES</LI>
        <LI>FRIENDS</LI>
	<LI><BUTTON type="button" data-toggle="modal" data-target="#createTrip" class="btn btn-danger">HOST ADVENTURE</BUTTON></LI>
	<LI><BUTTON type="button" class="btn btn-danger"><A href="{{ url_for('logout') }}" class="logout">LOGOUT</A></BUTTON></LI>
      </UL>
    </DIV>
  </DIV>
</NAV>
</HEADER>
<!-- Modal -->
<DIV class="modal fade" id="createTrip" tabindex="-1" role="dialog" aria-labelledby="Host Adventure" aria-hidden="true">
  <DIV class="modal-dialog" role="document">
    <DIV class="modal-content">
      <DIV class="modal-header">
        <H2 class="modal-title" id="where">Where are you going?</H2>
        <BUTTON type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</BUTTON>
      </DIV>
      <DIV class="modal-body">
		<FORM class="trip">
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="fname">City</LABEL>
				</DIV>
				<DIV class="col-75">
					<INPUT type="text" id="city" name="city_in_country" placeholder="What city are you going to?">
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="country">Country</LABEL>
				</DIV>
				<DIV class="col-75">
					<SELECT id="country" name="country">
						<OPTION value="australia">Australia</OPTION>
						<OPTION value="canada">Canada</OPTION>
						<OPTION value="usa">USA</OPTION>
					</SELECT>
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="dates">Dates</LABEL>
				</DIV>
				<DIV class="col-75">
					<INPUT type="text" id="dates" name="dates" placeholder="Between what dates are you going?">
					<SCRIPT>
						$('input[name="dates"]').daterangepicker();
					</SCRIPT>
				</DIV>
			</DIV>
			<DIV class="row">
				<DIV class="col-25">
					<LABEL for="description">Trip Description</LABEL>
				</DIV>
				<DIV class="col-75">
					<TEXTAREA id="description" name="description" placeholder="What are you doing?" style="height:200px"></TEXTAREA>
				</DIV>
			</DIV>
		</FORM>
      </DIV>
      <DIV class="modal-footer">
        <BUTTON type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</BUTTON>
        <BUTTON type="button" class="btn btn-danger">CREATE TRIP</BUTTON>
      </DIV>
    </DIV>
  </DIV>
</DIV>
<DIV class="column column1">
  <DIV id="trips" class="container text-center trips">
	<H2>Active Adventures</H2>
	<DIV id="internal_text" class="profileactivetrip">
		<P class="tripinfo"><STRONG>Vienna, Austria</STRONG></P>
		<P class="tripdate">01/17/18 - 01/31/18</P>
	</DIV>
	<DIV id="internal_text" class="profileactivetrip">
		<P class="tripinfo"><STRONG>Buenos Aires, Argentina</STRONG></P>
		<P class="tripdate">02/17/18 - 03/31/18</P>
	</DIV>
	<DIV id="internal_text" class="profileactivetrip">
		<P class="tripinfo"><STRONG>Beirut, Lebanon</STRONG></P>
		<P class="tripdate">05/10/18 - 05/28/18</P>
	</DIV>
  </DIV>
</DIV>
<DIV class="column column2">
  <DIV id="bio" class="container text-center profile">
	<IMG src="../static/images/users/derek.jpg" class="img-circle profile_pic" alt="Derek">
	<H2>Derek Kwok</H2>
	<BUTTON type="button" class="btn btn-danger login">Add Friend</BUTTON>
	<BUTTON type="button" class="btn btn-danger login">Edit Profile</BUTTON>
    <DIV id="internal_text" class="container text-center description">
      <P class="biotext">I am an aspiring software engineer looking for entry level software engineering positions, apprenticeships, or internships. I am currently attending a two-year software engineering program at Holberton School in San Francisco, California where the learning model is focused on peer and self-directed learning and as such, there are no teachers or lectures at the school. 
      <BR><BR>
      My primary technologies so far are C, Python/Flask, Javascript, and MySQL, and I am eager to learn more. I have experience with data structures and algorithms, full-stack architectures, relational databases and object relational mappers, low-level programming, high-level object-oriented programming, REST APIs and web frameworks, basic web infrastructure and DevOps, and have an interest in machine learning and data science.
      <BR><BR>
      Previously, I was a materials engineer and process engineer for almost 2 years. I am passionate about working in collaborative teams to help people all over the world by building innovative applications, analyzing, and making sense of the data around us.</P>
    </DIV>
</DIV>
<DIV id="destinations" class="container text-center profile">
  <H3>Dream Destinations</H3>
  <!--<DIV class="row text-center">-->
    <DIV class="place">
	    <P><STRONG>Berlin, Germany</STRONG></P>
	</DIV>
	<DIV class="place">
	    <P><STRONG>Vienna, Austria</STRONG></P>
	</DIV>
	<DIV class="place">
	    <P><STRONG>Brussels, Belgium</STRONG></P>
	</DIV>
  <!--</DIV>-->
</DIV>
<DIV id="interests" class="container text-center profile">
  <H3>Interests</H3>
  <DIV id="internal_text" class="container text-center description">
    <P class="biotext">I love learning foreign languages and playing music. I have been playing the violin since I was 5 and the piano since I was 8. In terms of languages, currently, I speak French, Spanish, Cantonese, English, and can read Russian and Arabic. Someday, I want to speak fluently French, German, Spanish, Chinese, Japanese, Italian, Portuguese, Russian, Arabic, and Turkish.</P>
  </DIV>
</DIV>
<DIV id="languages" class="container text-center profile">
  <H3>Languages</H3>
  <DIV class="language">
	    <DIV><STRONG>French</STRONG></DIV>
	</DIV>
	<DIV class="language">
	    <DIV><STRONG>Spanish</STRONG></DIV>
	</DIV>
	<DIV class="language">
	    <DIV><STRONG>German</STRONG></DIV>
	</DIV>
	<DIV class="language">
	    <DIV><STRONG>Cantonese</STRONG></DIV>
	</DIV>
	<DIV class="language">
	    <DIV><STRONG>Russian</STRONG></DIV>
	</DIV>
</DIV>
<DIV id="contact" class="container text-center profile">
  <H3>Contact Info</H3>
  <P class="biotext">I can be reached here...</P>
</DIV>
</DIV>
</BODY>
</HTML>
