{% extends "base.html" %}

{% block content %}
<DIV class="column column1">
  <DIV id="trips" class="container text-center trips">
	<H2>Hosted Adventures</H2>
	{% if hosted_trips[0] is defined %}
		{% for trip in hosted_trips %}
			<DIV id="internal_text" class="profileactivetrip">
				<P class="tripinfo"><STRONG>{{ trip.city }}, {{ trip.country }}</STRONG></P>
				<P class="tripdate">{{ trip.date_range }}</P>
			</DIV>
		{% endfor %}
	{% else %}
		<H3>No trips have been hosted yet!</H3>
	{% endif %}
  </DIV>
  <DIV id="trips" class="container text-center trips">
	<H2>Other Adventures</H2>
	{% if active_trips[0] is defined %}
		{% for trip in active_trips %}
			<DIV id="internal_text" class="profileactivetrip">
				<P class="tripinfo"><STRONG>{{ trip.city }}, {{ trip.country }}</STRONG></P>
				<P class="tripdate">{{ trip.date_range }}</P>
			</DIV>
		{% endfor %}
	{% else %}
		<H3>You have not joined any trips yet!</H3>
	{% endif %}
  </DIV>
</DIV>
<DIV class="column column2">
  <DIV id="bio" class="container text-center profile">
	  <IMG src="{{ current_user.profile_pic }}" class="img-circle profile_pic" alt="profilepicture">
	<H2>{{ current_user.first_name }} 
		{% if current_user.last_name %}
			{{ current_user.last_name }}
		{% endif %}</H2>
	<BUTTON type="button" class="btn btn-danger login">Add Friend</BUTTON>
	<BUTTON type="button" class="btn btn-danger login">Edit Profile</BUTTON>
    <DIV id="internal_text" class="container text-center description">
	    <P class="biotext">{{ current_user.bio }}</P>
    </DIV>
</DIV>
<DIV id="destinations" class="container text-center profile">
  <H3>Dream Destinations</H3>
  <!--<DIV class="row text-center">-->
  	{% for dest in current_user.destinations %}
    	<DIV class="place">
		<P><STRONG>{{ dest['city'] }}, {{ dest['country'] }}</STRONG></P>
	</DIV>
	{% endfor %}
</DIV>
<DIV id="interests" class="container text-center profile">
  <H3>Interests</H3>
  <DIV id="internal_text" class="container text-center description">
	  <P class="biotext">{{ current_user.interests }}</P>
  </DIV>
</DIV>
<DIV id="languages" class="container text-center profile">
  <H3>Languages</H3>
  	{% for lang in current_user.languages %}
  	<DIV class="language">
		<DIV><STRONG>{{ lang }}</STRONG></DIV>
	</DIV>
	{% endfor %}
</DIV>
<DIV id="contact" class="container text-center profile">
  <H3>Contact Info</H3>
  <P class="biotext">I can be reached here...</P>
</DIV>
</DIV>
{% endblock %}
